body {
  font-size: 16px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Roboto Condensed";
}

* {
  box-sizing: border-box;
}

#header {
  z-index: 99;
}
#header h1 {
  display: flex;
  font-size: 55px;
  font-weight: 300;
}
#header h1 a {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
}
#header h1 a strong {
  margin-left: 13px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 3px;
}
#header #menu {
  margin-top: 60px;
}
#header #menu ul {
  display: flex;
}
#header #menu ul li:first-child {
  border-right: 3px solid #000;
}
#header #menu ul li a {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 3px solid #000;
  transition: all 0.1s;
  letter-spacing: 1px;
}
#header #menu ul li a.day {
  border-right: 0;
}
#header #menu ul li a.day:hover {
  background-color: #d9042b;
  border-color: #d9042b;
  color: #fff;
}
#header #menu ul li a.voca {
  border-left: 0;
}
#header #menu ul li a.voca:hover {
  background-color: #234097;
  border-color: #234097;
  color: #fff;
}

.container {
  margin: 100px auto;
}
.container .title {
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 20px 0;
  border-bottom: 5px solid #000;
}

.dayBox .current {
  font-size: 35px;
  margin-top: 100px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.dayBox .current .day {
  font-size: 50px;
  margin-right: 5px;
}
.dayBox .current strong {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
}
.dayBox .current strong:before {
  content: "";
  position: absolute;
  width: 117%;
  height: 100%;
  left: -2px;
  bottom: 2px;
  transform: rotate(-3deg);
  background-color: rgba(123, 255, 0, 0.5);
  z-index: -1;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
}
.btns .btn {
  border: none;
  outline: none;
  padding: 15px 30px;
  background-color: #234097;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.btns .backBtn {
  background-color: #000;
}

.days {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.days li {
  margin: 10px;
}
.days li a {
  display: flex;
  width: 120px;
  height: 50px;
  color: #000;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
  color: #fff;
}

.vocas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.vocas li {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  margin: 20px;
  padding: 70px 70px 30px;
  border: 5px solid #000;
  transition: background 0.25s ease;
}
.vocas li .word {
  transition: all 0.25s ease;
}
.vocas li .eng {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
}
.vocas li .kor {
  font-size: 23px;
  font-weight: 400;
  margin: 30px 0 50px;
}
.vocas li .btns {
  transition: all 0.25s ease;
  margin: 0;
}
.vocas li .btns .btn {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.vocas li .btns .del {
  margin-left: 10px;
  background-color: #d9042b;
}
.vocas li .check {
  position: absolute;
  top: 10px;
  left: 10px;
}
.vocas li .check label input {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.vocas li .check .checkBox span:before {
  font-family: "Material Icons";
  content: "done";
  display: inline-block;
  margin-left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 900;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border: 5px solid #000;
}
.vocas li .check .checkBox input:checked ~ span:before {
  color: #fff;
  background-color: #000;
}
.vocas li.done {
  background-color: rgba(255, 255, 255, 0.8);
}
.vocas li.done .word {
  opacity: 0.3;
}
.vocas li.done .btns {
  opacity: 0.3;
  pointer-events: none;
}

.vocaBox {
  padding: 0 300px;
}
.vocaBox .inputBox {
  display: flex;
  margin-bottom: 20px;
}
.vocaBox .inputBox label {
  display: flex;
  color: #fff;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: 100px;
  letter-spacing: 2px;
}
.vocaBox .inputBox input,
.vocaBox .inputBox select {
  display: flex;
  flex-grow: 1;
  border: 3px solid #000;
  outline: none;
  padding: 0 20px;
  box-sizing: border-box;
}
.vocaBox .inputBox select {
  padding: 10px 20px;
}
.vocaBox .inputBox .eng {
  background-color: #234097;
}
.vocaBox .inputBox .kor {
  background-color: #d9042b;
}

#footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media all and (max-width: 1200px) {
  .vocaBox {
    padding: 0 150px;
  }
}
@media all and (max-width: 980px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vocaBox {
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  #header h1 {
    font-size: 30px;
  }
  #header h1 a {
    flex-direction: column;
    align-items: flex-start;
  }
  #header h1 a strong {
    font-size: 50px;
    margin: 0;
  }
  #header #menu {
    margin-top: 30px;
  }
  #header #menu ul li a {
    padding: 10px 20px;
    font-size: 14px;
  }
  .container {
    margin: 50px auto;
  }
  .container .title {
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .container .days li a {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .dayBox .current {
    margin-top: 50px;
    font-size: 22px;
  }
  .dayBox .current strong {
    font-size: 25px;
  }
  .dayBox .current strong .day {
    font-size: 30px;
  }
  .vocaBox {
    margin-top: 50px;
    width: 100%;
  }
  .vocaBox .inputBox label {
    width: 70px;
    height: 40px;
    font-size: 14px;
  }
  .vocaBox .inputBox input,
.vocaBox .inputBox select {
    width: 100%;
  }
  .vocas {
    flex-direction: column;
  }
  .vocas li {
    width: 100%;
    margin: 0 0 20px;
    padding: 40px 20px 20px 50px;
  }
  .vocas li .check .checkBox span:before {
    width: 20px;
    height: 20px;
    border: 4px solid #000;
    font-size: 15px;
  }
  .vocas li .word {
    word-break: break-word;
  }
  .vocas li .eng {
    font-size: 30px;
  }
  .vocas li .kor {
    font-size: 16px;
    margin: 20px 0 50px;
    line-height: 1.2;
  }
  .vocas li .btns {
    justify-content: flex-end;
  }
  .btns {
    margin: 80px 0 0;
  }
  .btns .btn {
    padding: 10px 25px;
    font-size: 16px;
  }
  .btns .pageBtn {
    padding: 10px 25px;
    font-size: 15px;
  }
  #footer {
    word-break: break-word;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
  }
}