body {
  font-size: 16px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#header {
  z-index: 99;
}
#header h1 {
  display: flex;
  font-size: 60px;
  font-weight: 300;
}
#header h1 a {
  display: flex;
  align-items: center;
  letter-spacing: -3px;
}
#header h1 a strong {
  margin-left: 20px;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 5px;
}
#header #menu {
  margin-top: 60px;
}
#header #menu ul {
  display: flex;
}
#header #menu ul li:first-child {
  border-right: 3px solid #000;
}
#header #menu ul li a {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 3px solid #000;
  transition: all 0.1s;
}
#header #menu ul li a.day {
  border-right: 0;
}
#header #menu ul li a.day:hover {
  background-color: rgb(226, 38, 38);
  border-color: rgb(226, 38, 38);
  color: #fff;
}
#header #menu ul li a.voca {
  border-left: 0;
}
#header #menu ul li a.voca:hover {
  background-color: rgb(38, 74, 231);
  border-color: rgb(38, 74, 231);
  color: #fff;
}

.container {
  margin: 100px auto;
}
.container .title {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 20px 0;
  border-bottom: 5px solid #000;
}

.dayBox .current {
  font-size: 24px;
  margin-top: 50px;
  text-transform: uppercase;
}
.dayBox .current strong {
  font-weight: 800;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 10px;
}
.dayBox .current strong:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 15px;
  height: 10px;
  background-color: rgb(38, 74, 231);
  border-radius: 100px;
  z-index: -1;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
}
.btns .btn {
  border: none;
  outline: none;
  padding: 15px 30px;
  background-color: rgb(38, 74, 231);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.days {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.days li {
  margin: 0 10px;
}
.days li a {
  display: flex;
  width: 120px;
  height: 50px;
  color: #000;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
  color: #fff;
}

.vocas {
  display: flex;
  justify-content: center;
}
.vocas li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  margin: 0 10px;
  padding: 50px 50px 30px;
  border: 5px solid #000;
  transition: background 0.25s ease;
}
.vocas li .word {
  transition: all 0.25s ease;
}
.vocas li .eng {
  font-size: 45px;
  font-weight: 700;
}
.vocas li .kor {
  font-size: 28px;
  font-weight: 500;
  margin: 30px 0 50px;
}
.vocas li .btns {
  transition: all 0.25s ease;
  margin: 0;
}
.vocas li .btns .btn {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
}
.vocas li .btns .del {
  margin-left: 10px;
  background-color: rgb(226, 38, 38);
}
.vocas li .check {
  position: absolute;
  top: 10px;
  left: 10px;
}
.vocas li .check label input {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.vocas li .check .checkBox span:before {
  font-family: "Material Icons";
  content: "done";
  display: inline-block;
  margin-left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  margin-right: 10px;
  border: 5px solid #000;
}
.vocas li .check .checkBox input:checked ~ span:before {
  color: #fff;
  background-color: #000;
}
.vocas li.done {
  background-color: rgba(0, 0, 0, 0.5);
}
.vocas li.done .word {
  opacity: 0.5;
}
.vocas li.done .btns {
  opacity: 0.5;
  pointer-events: none;
}

.vocaBox .inputBox {
  display: flex;
  margin-bottom: 20px;
}
.vocaBox .inputBox label {
  display: flex;
  color: #fff;
  background-color: rgb(38, 74, 231);
  height: 50px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  width: 150px;
}
.vocaBox .inputBox input,
.vocaBox .inputBox select {
  display: flex;
  flex-grow: 1;
  border: 3px solid #000;
  outline: none;
  border-radius: 5px;
  padding: 0 20px;
  box-sizing: border-box;
}

#footer {
  position: relative;
}
#footer .copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #777;
  text-transform: uppercase;
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}