@import "vars";
@import "mixin";

body {
  font-size: 16px;
  color: $main-color;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: "Roboto Condensed";
}
* {
  box-sizing: border-box;
}

#header {
  z-index: 99;
  h1 {
    display: flex;
    font-size: 55px;
    font-weight: 300;
    a {
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
      strong {
        margin-left: 13px;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
  }
  #menu {
    margin-top: 60px;
    ul {
      display: flex;
      li {
        &:first-child {
          border-right: 3px solid $main-color;
        }
        a {
          display: flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          border: 3px solid $main-color;
          transition: all 0.1s;
          letter-spacing: 1px;
          &.day {
            border-right: 0;
            &:hover {
              background-color: $red;
              border-color: $red;
              color: #fff;
            }
          }
          &.voca {
            border-left: 0;
            &:hover {
              background-color: $blue;
              border-color: $blue;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.container {
  margin: 100px auto;
  .title {
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding: 20px 0;
    border-bottom: 5px solid #000;
  }
}
.dayBox {
  .current {
    font-size: 35px;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    .day {
      font-size: 50px;
      margin-right: 5px;
    }
    strong {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      font-size: 30px;
      &:before {
        content: "";
        position: absolute;
        width: 117%;
        height: 100%;
        left: -2px;
        bottom: 2px;
        transform: rotate(-3deg);
        background-color: rgba(123, 255, 0, 0.5);
        z-index: -1;
      }
    }
  }
}
.btns {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
  .btn {
    border: none;
    outline: none;
    padding: 15px 30px;
    background-color: $blue;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  .backBtn {
    background-color: $main-color;
  }
}

.days {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin: 10px;
    a {
      display: flex;
      width: 120px;
      height: 50px;
      color: $main-color;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 700;
      background-color: $main-color;
      color: #fff;
    }
  }
}
.vocas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    margin: 20px;
    padding: 70px 70px 30px;
    border: 5px solid $main-color;
    transition: background 0.25s ease;
    .word {
      transition: all 0.25s ease;
    }
    .eng {
      font-size: 55px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .kor {
      font-size: 23px;
      font-weight: 400;
      margin: 30px 0 50px;
    }
    .btns {
      transition: all 0.25s ease;
      margin: 0;
      .btn {
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .del {
        margin-left: 10px;
        background-color: $red;
      }
    }
    .check {
      position: absolute;
      top: 10px;
      left: 10px;
      label {
        input {
          position: absolute;
          margin: 0;
          padding: 0;
          border: 0;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
      .checkBox {
        span:before {
          @include icon("done", 0);
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          width: 30px;
          height: 30px;
          font-size: 24px;
          font-weight: 900;
          overflow: hidden;
          background-color: #fff;
          box-sizing: border-box;
          border: 5px solid $main-color;
        }
        input:checked ~ span:before {
          color: #fff;
          background-color: $main-color;
        }
      }
    }
    &.done {
      background-color: rgba(255, 255, 255, 0.8);
      .word {
        opacity: 0.3;
      }
      .btns {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.vocaBox {
  padding: 0 300px;
  .inputBox {
    display: flex;
    margin-bottom: 20px;
    label {
      display: flex;
      color: #fff;
      height: 50px;
      font-size: 18px;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      width: 100px;
      letter-spacing: 2px;
    }
    input,
    select {
      display: flex;
      flex-grow: 1;
      border: 3px solid $main-color;
      outline: none;
      padding: 0 20px;
      box-sizing: border-box;
    }
    select {
      padding: 10px 20px;
    }
    .eng {
      background-color: $blue;
    }
    .kor {
      background-color: $red;
    }
  }
}

#footer {
  @include absCenter(true, false);
  bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media all and(max-width:1200px) {
  .vocaBox {
    padding: 0 150px;
  }
}

@media all and(max-width:980px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vocaBox {
    padding: 0;
  }
}

@media all and(max-width:600px) {
  #header {
    h1 {
      font-size: 30px;
      a {
        flex-direction: column;
        align-items: flex-start;
        strong {
          font-size: 50px;
          margin: 0;
        }
      }
    }
    #menu {
      margin-top: 30px;
      ul {
        li {
          a {
            padding: 10px 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .container {
    margin: 50px auto;
    .title {
      font-size: 30px;
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
    }
    .days {
      li {
        a {
          width: 100px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }

  .dayBox {
    .current {
      margin-top: 50px;
      font-size: 22px;
      strong {
        font-size: 25px;
        .day {
          font-size: 30px;
        }
      }
    }
  }

  .vocaBox {
    margin-top: 50px;
    width: 100%;
    .inputBox {
      label {
        width: 70px;
        height: 40px;
        font-size: 14px;
      }
      input,
      select {
        width: 100%;
      }
    }
  }

  .vocas {
    flex-direction: column;
    li {
      width: 100%;
      margin: 0 0 20px;
      padding: 40px 20px 20px 50px;
      .check {
        .checkBox {
          span {
            &:before {
              width: 20px;
              height: 20px;
              border: 4px solid $main-color;
              font-size: 15px;
            }
          }
        }
      }
      .word {
        word-break: break-word;
      }
      .eng {
        font-size: 30px;
      }
      .kor {
        font-size: 16px;
        margin: 20px 0 50px;
        line-height: 1.2;
      }
      .btns {
        justify-content: flex-end;
      }
    }
  }

  .btns {
    margin: 80px 0 0;
    .btn {
      padding: 10px 25px;
      font-size: 16px;
    }
    .pageBtn {
      padding: 10px 25px;
      font-size: 15px;
    }
  }

  #footer {
    word-break: break-word;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
  }
}
